<nav>
    <!-- test nav -->
    <a href="/createuser">create user</a>
    <a href="/">login</a>


    <!-- nav utan inlog user/team -->
    <!-- <a href="/createuser">create user</a>
    <a href="/login">login</a>
    <a href="/">home</a> -->

    <!-- nav inlog user -->
    <!-- <a href="/createteam">create team</a>
    <a href="/">teams</a>
    <a href="/">logout</a>
    <a href="/">dashboard</a> -->

</nav>