<nav>
    <a href="/createteam">create team</a>
    <a href="/logout">logout</a>
    <a href="/teams">join team</a>
    <a href="/dashboard/<%= user._id %>">dashboard</a>
</nav>

<form action="/createoneteam" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br>
    <input type="hidden" name="userId" value="<%= user._id %>">
    <input type="submit" value="Add team">

</form>

<a href="/dashboard/<%= user._id %>"><div>BACK</div></a>