
<form action="/createoneteam" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br>
    <input type="hidden" name="userId" value="<%= user._id %>">
    <input type="submit" value="Add team">

</form>
