$the-main-red: #DF1C1C;
$the-dark-red: #692222;
$the-main-grey: #7e7e7e;
$the-dark-grey: #474747;
$the-darker-grey: #2E2E2E;
$the-even-darker-grey: #202020;


.teamdashboardContent {
	width: 70%;
	min-height: 100%;
	margin: auto;
	padding: 0;
	background-color: white;
	color: $the-dark-grey;

	.row {
		width: 100%;
		margin: auto;

		.teamNews {
			padding: 0 2rem 3rem 3rem;

			.newsNAdd {
				justify-content: space-between;
				align-items: center;

				.newsNAddNews {
					color: $the-dark-red;
					font-size: 260%;
					font-weight: 900;
				}

				button {
					color: white;
					font-weight: 600;
				}
			}

			form {
				background-color: $the-darker-grey;
				border-radius: 0.8rem;
				color: white;
				padding: 0.4rem 0.7rem;

                .title {
                    font-weight: 600;
                }

				.close {
					color: $the-main-red;
					width: fit-content;
					float: right;

					&:hover {
						cursor: pointer;
						transform: scale(1.1);
					}
				}

				input {
					border-radius: 100px;
					padding: 0 7px;
					outline: 0;
					border: none;
				}

				textarea {
					border-radius: 8px;
				}

				.addNewsButton {
					border: 1px solid white;
					border-radius: 1000px;
					padding: 0.3rem 1rem;
					color: white;
					font-weight: 900;
					font-size: 120%;
				}
			}

			.oneNews {

				.flex {
					justify-content: space-between;

					.iconRubbe {
						align-items: baseline;
						gap: 8px;

						svg {
							fill: $the-main-red;
						}

						h4 {
							color: $the-dark-grey;
							font-weight: 800;
						}
					}

					a {

						&:hover {
							transform: scale(1.1);
						}
					}
				}

				p {
					color: $the-dark-grey;
				}
			}
		}

        .membersTitle {
            font-weight: 600;
            margin-right: 3px;

            &:hover {
                cursor: pointer;
                transform: scale(1.04);
            }
        }

		.teamSchema {
			margin: 0;
			padding: 1rem;
			background-color: $the-dark-red;
			color: white;
			height: fit-content;

			h4 {
				font-weight: 900;
			}
		}
	}
}
